<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/css/bootstrap.min.css">
</head>
<body>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h3 class="text-center text-white bg-danger">Login Here</h3>
                <hr>

                <div class="form-group">
                    <br><br>

                    <label>Username</label>
                    <input type="text" placeholder="User Name" class="form-control">

                    <br><br>

                    <label>Password</label>
                    <input type="password" placeholder="Password" class="form-control">

                    <br><br>

                    <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" class="form-control">

                    <br><br>
                    <input type="submit" value="Login" class="btn btn-danger">
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>

</body>
</html>
